$brush-items-count: 4;
$brush-item-width: 100% / $brush-items-count;
$status-bar-height: 3%;
$main-blocks-heigth: 100% - $status-bar-height;
$tools-box-width: 15%;
$workspace-width: 100% - $tools-box-width;
$canvas-width: 1024px;
$canvas-height: 576px;
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: Arial;
}

.work-block {
  height: $main-blocks-heigth;
}

#tools-box {
  position: absolute;
  top: 0;
  left: 0;
  width: $tools-box-width;
  text-align: center;
  background-color: #72b7ff;
  overflow-y: auto;
  #canvas-settings-box {
    .content {
      .narrow-width {
        width: 30%;
      }
    }
  }
  #brush-settings-box {
    height: 75%;
    .content {
      height: 100%;
      #brush-preview-box {
        h3 {
          margin: 10px 0 5px 0;
        }
        .preview-brush-container {
          width: 90%;
          height: 10%;
          #preview-brush {
            max-height: 100%;
          }
        }
        input[type="range"] {
          width: 80%;
          &::-moz-focus-outer {
            border: 0;
          }
        }
      }
      #brushes-list {
        width: 100%;
        height: 40%;
        #brushes {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: flex-start;
          align-content: flex-start;
          width: 80%;
          height: 100%;
          overflow-y: auto;
          margin: 10px 10% 0 10%;
          background-color: #4191de;
          border: 1px solid #153f68;
          .brush-item {
            display: flex;
            align-content: center;
            align-items: center;
            width: $brush-item-width;

            &.selected {
              outline: 1px solid #125fa9;
            }
          }
        }
      }
    }
  }
}

#workspace {
  position: absolute;
  top: 0;
  left: $tools-box-width;
  min-width: $canvas-width;
  width: $workspace-width;
  background-color: #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: center;
  #field {
    width: $canvas-width;
    height: $canvas-height;
    outline: 1px solid #000;
  }
}

#status-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: $status-bar-height;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #deaaff;
  .properties {
    width: 95%;
    margin-left: 2.5%;
  }
}